{#
/**
 * @file browser-articles.html.twig
 * Default theme implementation to present the articles in the api browser.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'watwat__article',
  content.watwat_article_status,
]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="watwat__article--content">
      <h2>{{ content.article.title }}</h2>
      <div class="field--name-field-description">{{ content.article.description }}</div>
      <div class="field--name-field-primary-theme"><span class="label-inline">Primary theme:</span>{{ content.primary_theme }}</div>
      {% if content.secondary_theme %}
        <div class="field--name-field-secondary-themes"><span class="label-inline">Secondary theme(s):</span>
         {% for theme in content.secondary_theme %}
           {% if loop.last %}
             {{ theme }}
           {% else %}
             {{ theme }},
           {% endif %}
         {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="watwat__article--action">
      <div class="field--name-field-url"><a href="{{ content.watwat_url }}">View this article on WAT WAT</a></div>
      <div class="form--migration">{{ content.addtomigration_form }}</div>
    </div>
  </div>
{% endif %}
