.watwat__articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.watwat__article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  border: 1px solid;
}

.watwat__article .form-actions .button {
  float: right;
  padding: 0;
  min-height: 36px;
  width: 36px;
  text-indent: -9999px;
  background: url('../img/icon_add.svg') no-repeat center transparent;
  background-size: 36px;
  border: none;
}

.watwat__article .form-actions .button:hover,
.watwat__article .form-actions .button:focus {
  box-shadow: none;
  background: url('../img/icon_add.svg') no-repeat center transparent;
  background-size: 36px;
}

.watwat__article.watwat__article--selected {
  border: 2px solid #e29700;
}

.watwat__article.watwat__article--selected::before {
  display: block;
  padding: 3px 5px 3px 8px;
  position: absolute;
  top: 0;
  right: 0;
  content: 'READY FOR MIGRATION';
  color: #fff;
  font-weight: bold;
  background-color: #e29700;
}

.watwat__article.watwat__article--migrated {
  border: 2px solid #73b355;
}

.watwat__article.watwat__article--migrated::before {
  display: block;
  padding: 3px 5px 3px 8px;
  position: absolute;
  top: 0;
  right: 0;
  content: 'MIGRATED';
  color: #fff;
  font-weight: bold;
  background-color: #73b355;
}

.watwat__article.watwat__article--selected .form-actions .button,
.watwat__article.watwat__article--migrated .form-actions .button {
  background: url('../img/icon_remove.svg') no-repeat center transparent;
  background-size: 36px;
}

.watwat__article.watwat__article--selected .form-actions .button:hover,
.watwat__article.watwat__article--selected .form-actions .button:focus,
.watwat__article.watwat__article--migrated .form-actions .button:hover,
.watwat__article.watwat__article--migrated .form-actions .button:focus {
  background: url('../img/icon_remove.svg') no-repeat center transparent;
  background-size: 36px;
}

.watwat__article h2 {
  margin: 0 0 20px;
}

.watwat__article .field--name-field-description {
  margin-bottom: 10px;
}

.watwat__article .label-inline {
  font-weight: bold;
  margin-right: 5px;
}

.watwat__article .form-actions {
  margin-bottom: 0;
}

.watwat__article .watwat__article--action {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.watwat__article .watwat__article--action .field--name-field-url a,
.watwat__article .watwat__article--action form a {
  display: block;
  min-height: 36px;
  text-indent: -9999px;
  border: none;
}

.watwat__article .watwat__article--action .field--name-field-url a {
  background: url('../img/icon_watwat_logo.svg') no-repeat center transparent;
  background-size: 42px 36px;
  width: 42px;
}

.watwat__article .watwat__article--action form a {
  background: url('../img/icon_link.svg') no-repeat center transparent;
  background-size: 36px;
  width: 36px;
}
